<!DOCTYPE html>
<html>


<head>
    <title>注册表单</title>

    <meta charset="utf-8" />

</head>


<body>
<h2>会员注册</h2>

<hr />
<form action="RegPost.jsp" method="post">
    <label for="username">姓名：</label><input type="text" name="username" id="username"><br/>
    <label>密码：<input type="password" name="userpassword"></label><br/>
    性别:
    <input type="radio" name="gender" value="M" checked />男
    <input type="radio" name="gender" value="W" />女
    爱好：<input type="checkbox" name="hobby" value="culture">文化
    <input type="checkbox" name="hobby" value="photography">摄影
    <input type="checkbox" name="hobby" value="entertainment">娱乐
    <input type="checkbox" name="hobby" value="fashion">时尚
    <input type="checkbox" name="hobby" value="life">生活
    <input type="checkbox" name="hobby" value="technology">科技
    居住地：<select name="address" size="4" multiple>
    <option value="sy" selected>沈阳</option>
    <option value="dl" selected>大连</option>
    <option value="jz" selected>锦州</option>
    <option value="ly" selected>辽阳</option>
    <option value="as" selected>鞍山</option>
</select>



</form>

</body>

</html>